.text-center{
    text-align: center;
}
.flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-space-around{
	display: flex;
	justify-content: space-evenly;
	
}
.flex-sitemap{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}



.hero-banner{
    display: flex;
    min-height: 630px;
    background: url(../../components/Images/car.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 250px;
}

.intro-text{
    width: 100%;
    max-width: 600px;
    margin: -350px auto 0;
}

.main {
    width: 100%;
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.button{
    border: none;
    border-radius: 5px;
    padding: 6px 17px;
    margin: 20px 3px;
    display: inline-block;
    font-size: 15px;
}

.button-prim{
    background-color: rgb(0, 202, 0);
    color: white;
    font-weight: 600;
}

.button-sec{
    background-color: rgb(0, 162, 202);
    color: white;
    font-weight: 600;
}

.button-grey{
    background-color: rgb(219, 219, 219);
    border: solid 1px;
    border-color: rgb(163, 163, 163);
    color: black;
    font-weight: 600;
}

.button-grey:hover{
    background-color: rgb(199, 199, 199);
    text-decoration: none;
    color: black;
    transition: 0.5s ease;
}

.button-prim:hover  {
    background-color: rgb(0, 175, 0);
    color: white;
    text-decoration: none;
}
.button-sec:hover  {
    background-color: rgb(0, 145, 182);
    color: white;
    text-decoration: none;
}

.footer-text a{
    font-size: 18px;
    color: white;
    padding: 0 0 10px 0;
    
}

footer{
    background-color: #343a40;
    color: white;
    text-align: center;
}

@media only screen and (max-width: 637px){
    [class*="hero-banner"]{
        background-size: contain;
    }

}
@media only screen and (max-width: 434px){
    [class*="hero-banner"]{
        background-position-y: 350px;
    }
    [class*="intro-text"]{
        margin: -250px auto 0;
    }
    .flex-car-timer{
        font-size: 15px;
    }
}

@media only screen and (max-width: 366px){
    .flex-car-timer{
        display: block;
        margin-left: auto !important;
        margin-right: auto  !important;
        font-size: 17px;
    }
    .intro-text h1{
        font-size: 38px;
    }
}

@media only screen and (max-width: 322px){
    .hero-banner{
        background-position-y: 420px;
    }
    .intro-text h1{
        font-size: 34px;
    }
}
@media only screen and (max-width: 304px){
    .hero-banner{
        background-position-y: 420px;
    }
    .intro-text h1{
        margin: 50px auto 0;
    }
    .flex-car-timer{
     font-size: 14px;
    }
}
