.table-size{
    max-width: 1220px;
    min-width: 360px;
    margin: 0 auto;
    padding: 0 5px;
}

.posfix{
    position: relative;
    top: 25px;
}

.border{
    position: relative;
    top: 50px;
    padding: 6px;
    height: 36px;    
    text-decoration: none;
    vertical-align: top;
    border-radius: 5px;
    background: #2fa66b;
    color: #fff;
}
